footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  background-color: #ffe1ac;
  color: #584944;
  bottom: 0;
  left: 0;
}

footer a {
  margin-left: .25rem;
}