main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.2rem;
  color: #584944;
}

label {
  display: flex;
  flex-direction: column;
}

.back-btn {
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-size: 1.25rem;
}
