.card-table-info {
  display: flex;
  justify-content: space-between;
}

.title-card {
  margin: 0%;
  font-weight: 500;
  font-size: 16px;
  color: #584944;
}

.title-number-card {
  font-weight: 500;
  font-size: 24px;
  color: #584944;
}

.text-card {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
}

tr.title-card {
  min-width: 250px;
  max-height: 20px;
}

h4.title-card {
  margin-bottom: 10px;
}

.complement-text-card {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}

hr {
  width: 100%;
  left: 59px;
  top: 294px;
  border-top: 1px solid #ffbb5a;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-bottom: 40px;
  align-items: baseline;
}

.card-container-text {
  padding: 20px;
  line-height: 20px;
}

/* .card-header {
  background: #ffe1ac;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #584944;
  text-align: left;
  min-width: 325px;
  padding: 16px;
}

.card-header:active {
  background: #ffbb5a;
  color: #fff8d8;
}

.card-body {
  background-color: #fff8d8;
  padding: 0;
} */