.col-6 {
  position: fixed;
  bottom: 75px;
  left: 25px;
}

.close {
  line-height: 0;
  color: #584944;
  text-shadow: 0;
}

.mr-auto {
  color: #584944;
}

.toast-body,
.toast-header {
  color: #584944;
  padding: 15px;
  background-color: white;
}

.toast-body {
  padding-left: 25px;
}

.toast-header {
  border-bottom: 0;
}
