.burger-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.burger-items {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  line-height: 1.3;
  color: #584944;
  border-bottom: 1px solid #ffe1ac;
  font-size: 14px;
}

.burger-items label.active {
  font-weight: 700;
  color: #fca730;
}
